.photo-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}
