.profile__add-button {
  width: 146px;
  height: 46px;
  margin-left: auto;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media (max-width: 720px) {
  .profile__add-button {
    width: 100%;
    margin: 32px 2px 0 2px;
  }
}