.footer {
  padding: 0 calc((100% - 880px) / 2) 60px calc((100% - 880px) / 2);
}

@media (max-width: 918px) {
  .footer {
    padding: 0 19px 60px 19px;
  }
}

@media (max-width: 720px) {
  .footer {
    padding: 0 19px 36px 19px;
  }
}
